
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand .container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.brand .toggle {
    display: none;
}

.menu-link ul {
    list-style: none;
    display: flex;
    gap: 1.3rem;
}

.menu-link ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: lightcoral;
    transition: 0.1s ease-in-out;
}

.menu-link ul li a:hover {
    color: rgb(192, 101, 101);
}

.menu-link ul li:first-of-type a {
    color: rgb(192, 101, 101);
    font-weight: 600;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    color: #fff;
    background: rgb(192, 101, 101);
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: lightcoral;
}



@media screen and (min-width: 280px) and (max-width: 1080px) {
    .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .menu-link {
        display: none;
      }
      .nav-container button {
          display: none;
      }
      .brand .toggle {
        display: block;
    }
    .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
      }
    
      .mobile-menu-link {
        background-color: white;
        height: 18rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
        transform-origin: top;
      }
      .mobile-menu-link ul li {
        width: 100%;
        margin-right: 2rem;
    }
    
      .mobile-menu-link ul {
        height: 18rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
      }
    
      .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
      }
}   