.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand .container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.brand .toggle {
    display: none;
}

.nav-container ul {
    list-style: none;
    display: flex;
    gap: 1.3rem;
}

.nav-container ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: lightcoral;
    transition: 0.1s ease-in-out;
}

.nav-container ul li a:hover {
    color: rgb(192, 101, 101);
}

.nav-container ul li:first-of-type a {
    color: rgb(192, 101, 101);
    font-weight: 600;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    color: #fff;
    background: rgb(192, 101, 101);
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}
button:hover {
    background: lightcoral ;
}